#SBT
target
project/target
project/project

# Mac
.DS_Store

# Eclipse
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ
.idea
.idea_modules
*.iml
*.ipr
*.iws
.history

/store
realease/IpayService-1.0.jar
/realease
/target
logs
nohup.out
pid
nohup.out
pid

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.DS_Store

tokens/
